html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

a {
  cursor: pointer;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

#popup {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: white;
  &.hidden {
    display: none;
  }
}